<div class="alert alert-info">

    <form>
        <label>Num 1:</label><input type="text"
                                      ng-model="m.num1"
                                      placeholder="Enter first num."
                                      class="input-xxlarge"/>
        <label>Num 2:</label><input type="text"
                                      ng-model="m.num2"
                                      placeholder="Enter second num."
                                      class="input-xxlarge"/>
        <button class="btn btn-danger" data-ng-click="add()">Add</button>
        <div>Result is: {{m.result}}</div>
    </form>


</div>
